[Desktop Entry]
Name=life
Name[ar]=life
Name[az]=life
Name[ca]=life
Name[ca@valencia]=life
Name[cs]=life
Name[da]=life
Name[de]=life
Name[en_GB]=life
Name[es]=life
Name[et]=life
Name[eu]=life
Name[fi]=life
Name[fr]=life
Name[gd]=life
Name[gl]=life
Name[hu]=life
Name[ia]=life
Name[id]=life
Name[it]=life
Name[ko]=life
Name[lt]=life
Name[nb]=life
Name[nl]=life
Name[nn]=life
Name[pa]=life
Name[pl]=life
Name[pt]=life
Name[pt_BR]=life
Name[ro]=life
Name[ru]=life
Name[sk]=life
Name[sl]=life
Name[sr]=life
Name[sr@ijekavian]=life
Name[sr@ijekavianlatin]=life
Name[sr@latin]=life
Name[sv]=life
Name[tg]=life
Name[tr]=life
Name[uk]=life
Name[vi]=life
Name[x-test]=xxlifexx
Name[zh_CN]=life
Name[zh_TW]=life
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=org.kde.plasma.life
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
